.button {
  padding: 5px 10px;
  background-color: rgb(195, 173, 216);
  border: none;
  border-radius: 10px;
}

.active {
  background-color: blueviolet;
  color: #fff;
}

.list {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 5px;
}
